In [ ]:
#Show Me the Money: Forecasting Economic Aid with Machine Learning
#Business Problem: Can USAID Economic Aid be predicted for a calendar year using historical Economic Disbursement data
# and World Bank Development Indicator of GNP Annual Growth %?

#Python 3.1 code by Laura Kahn & Majid Khorrami
#May 4, 2017

In [2]:
#Get the raw data
#USAID data and World Bank data

USAIDURL = 'https://explorer.usaid.gov/prepared/us_foreign_aid_country.xlsx'
WBURL = 'http://wdi.worldbank.org/table/1.1#'

In [3]:
#Read the USAID URL into Python shell
from urllib.request import urlretrieve
urlretrieve(USAIDURL, 'USAID.xlsx')

#Convert XLSX to CSV and view the sheet in the workbook named 'us_foreign_aid_country'
import csv
import pandas as pd
usaid_data_xlsx = pd.read_excel('USAID.xlsx', 'us_foreign_aid_country', index_col=None)
usaid_data_xlsx.to_csv('USAID.xlsx', encoding='utf-8')

In [6]:
#Alternative way of retrieving World Bank data is by making an API call
#Code adapted from: http://stackoverflow.com/questions/17301938/making-a-request-to-a-restful-api-using-python or 
#http://blog.danwin.com/examples-of-web-scraping-in-python-3-x-for-data-journalists/

#Return GDP Annual Growth rate for dates 2014-2016
#URL is http://api.worldbank.org/v2/en/country/all/indicator/NY.GDP.MKTP.KD.ZG?date=2014:2016
#Documentation for World Bank API: https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structure

import requests
import json

response = requests.get('http://api.worldbank.org/v2/en/country/all/indicator/NY.GDP.MKTP.KD.ZG?date=2014:2016?format=json')

txt = response.text
txt

'<HTML><HEAD>\r\n<TITLE>Access Denied</TITLE>\r\n</HEAD>\r\n<BODY>\r\n<FONT face="Helvetica">\r\n<big><strong></strong></big><BR>\r\n</FONT>\r\n<blockquote>\r\n<TABLE border=0 cellPadding=1 width="80%">\r\n<TR><TD>\r\n<FONT face="Helvetica">\r\n<big>Access Denied (authentication_failed)</big>\r\n<BR>\r\n<BR>\r\n</FONT>\r\n</TD></TR>\r\n<TR><TD>\r\n<FONT face="Helvetica">\r\nYour credentials could not be authenticated: "Credentials are missing.". You will not be permitted access until your credentials can be verified.\r\n</FONT>\r\n</TD></TR>\r\n<TR><TD>\r\n<FONT face="Helvetica">\r\nThis is typically caused by an incorrect username and/or password, but could also be caused by network problems.\r\n</FONT>\r\n</TD></TR>\r\n<TR><TD>\r\n<FONT face="Helvetica" SIZE=2>\r\n<BR>\r\n(BC5) For assistance, please contact the USPTO OCIO IT Service Desk.\r\n</FONT>\r\n</TD></TR>\r\n</TABLE>\r\n</blockquote>\r\n</FONT>\r\n</BODY></HTML>\r\n'

In [ ]:
#Delete unnecessary columns
df = df.drop('column', axis=1, inplace=True)

In [ ]:
#Import World Bank worksheet 

#Add relevant column - merge two worksheets

In [3]:
#Import cleaned data manually from CSV
import csv
import pandas as pd
df = pd.DataFrame()
data = pd.read_csv('USAID-Disbursements2014-2016_WBGDP.csv', index_col=0)
data

,2014,2015,2016,2014>10m,2014<10m,2015>10m,2015<10m,2016>10m,2016<10m,WB 2015 GDP-growth annual %,Unnamed: 11
Country,,,,,,,,,,,
Afghanistan,"2,202,642,037","2,224,419,103","1,263,122,571",1,0,1,0,1,0,-1.9466,NaN
Albania,"21,502,503","18,553,548","11,788,431",1,0,1,0,1,0,2.9597,NaN
Algeria,"7,494,186","7,504,667","1,983,881",0,1,0,1,0,1,3.9000,NaN
Angola,"67,107,300","61,494,920","52,439,601",1,0,1,0,1,0,3.0070,NaN
Antigua and Barbuda,NaN,"14,130","3,780",NaN,NaN,0,1,0,1,4.1270,NaN
Argentina,"1,946,256","1,825,092",NaN,0,1,0,1,NaN,NaN,2.3723,NaN
Armenia,"37,272,007","39,333,349","24,089,150",1,0,1,0,1,0,3.0000,NaN
Azerbaijan,"27,489,691","22,512,506","11,170,994",1,0,1,0,1,0,1.1000,NaN
Bahamas,"1,305,824","767,064","51,562",0,1,0,1,0,1,-1.6636,NaN
Bahrain,"626,968","1,259,711",NaN,0,1,0,1,NaN,NaN,2.8630,NaN
Bangladesh,"261,713,436","250,830,290","222,750,371",1,0,1,0,1,0,6.5526,NaN
Barbados,"69,808","208,240","4,593",0,1,0,1,0,1,0.8824,NaN
Belarus,"15,088,903","17,390,445","8,505,418",1,0,1,0,0,1,-3.8877,NaN
Belgium,"2,100,238","5,775,753",NaN,0,1,0,1,NaN,NaN,1.5002,NaN
Belize,"2,289,513","1,837,129","288,971",0,1,0,1,0,1,1.0438,NaN
Benin,"25,179,853","52,991,568","33,173,074",1,0,1,0,1,0,2.0945,NaN
Bhutan,"327,412","780,088","291,863",0,1,0,1,0,1,5.1415,NaN
Bolivia,"32,976,527","59,144,311","49,283",1,0,1,0,0,1,3.2570,NaN
Bosnia and Herzegovina,"48,095,613","42,639,175","26,187,912",1,0,1,0,1,0,3.2278,NaN
Botswana,"56,364,651","51,461,760","12,893,047",1,0,1,0,1,0,-2.1307,NaN
Brazil,"21,781,537","19,110,645","8,332,332",1,0,1,0,0,1,-4.6660,NaN
Brunei,"243,098","94,092",NaN,0,1,0,1,NaN,NaN,-1.9282,NaN
Bulgaria,"6,285,952","8,614,815","263,341",0,1,0,1,0,1,4.2807,NaN
Burkina Faso,"228,821,517","78,145,904","44,402,220",1,0,1,0,1,0,4.0210,NaN
Burma (Myanmar),"90,729,283","111,593,470","123,248,627",1,0,1,0,1,0,7.2940,NaN
Burundi,"33,322,571","48,383,365","42,846,592",1,0,1,0,1,0,-3.9049,NaN
Cabo Verde,"7,743,474","11,303,648","3,937,068",0,1,0,1,0,1,1.4547,NaN
Cambodia,"87,779,748","91,597,169","74,500,942",1,0,1,0,1,0,7.0361,NaN
Cameroon,"38,602,231","57,617,656","46,325,330",1,0,1,0,1,0,5.7732,NaN
Canada,"373,185","47,034,682",NaN,0,1,0,1,NaN,NaN,1.0783,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Sudan,"262,896,407","118,087,120","105,005,990",1,0,1,0,1,0,4.9060,NaN
Sudan (former),"145,676,552","119,947,915","101,546,679",1,0,1,0,1,0,NaN,NaN
Swaziland,"43,950,014","34,323,036","32,151,297",1,0,1,0,1,0,1.8672,NaN
Switzerland,"557,392","1,133,352",NaN,0,1,0,1,NaN,NaN,0.8422,NaN
Syria,"786,441,452","737,264,094","569,845,235",1,0,1,0,1,0,NaN,NaN
Tajikistan,"42,683,025","35,400,319","23,697,925",1,0,1,0,1,0,6.0000,NaN
Tanzania,"594,109,297","457,116,160","297,048,782",1,0,1,0,1,0,6.9594,NaN
Thailand,"51,942,275","53,828,345","2,955,684",1,0,1,0,0,1,2.8283,NaN
Timor-Leste,"34,253,928","21,638,648","20,449,989",1,0,1,0,1,0,4.3000,NaN
Togo,"3,162,157","3,002,098","722,260",0,1,0,1,0,1,5.3659,NaN
Tonga,"1,334,477","1,359,430","604,482",0,1,0,1,0,1,3.7062,NaN
Trinidad and Tobago,"431,679","800,944",NaN,0,1,0,1,NaN,NaN,-0.5785,NaN
Tunisia,"22,903,789","19,506,580","18,005,091",1,0,1,0,1,0,0.9946,NaN
Turkey,"72,542,581","41,572,708","606,586",1,0,1,0,0,1,3.9719,NaN
Turkmenistan,"8,987,261","8,337,095","2,659,927",0,1,0,1,0,1,6.5000,NaN
Uganda,"481,777,507","404,173,403","342,007,462",1,0,1,0,1,0,5.1438,NaN
Ukraine,"171,042,405","290,271,722","136,242,618",1,0,1,0,1,0,-9.8698,NaN
United Arab Emirates,"681,233","601,655",NaN,0,1,0,1,NaN,NaN,3.7576,NaN
United Kingdom,"68,416","203,479",NaN,0,1,0,1,NaN,NaN,2.2215,NaN
Uruguay,"496,200","637,682","50,000",0,1,0,1,0,1,0.9823,NaN
Uzbekistan,"24,585,648","15,861,147","8,047,023",1,0,1,0,0,1,8.0000,NaN
Vanuatu,"3,042,039","4,599,720","1,728,323",0,1,0,1,0,1,-0.8011,NaN
Venezuela,"6,153,088","7,287,486","5,068,589",0,1,0,1,0,1,-3.8944,2014 data
Vietnam,"109,160,418","92,345,258","68,299,531",1,0,1,0,1,0,6.6793,NaN
West Bank/Gaza,"387,347,218","456,553,887","283,919,737",1,0,1,0,1,0,12.3932,NaN
Yemen,"220,475,319","157,739,743","238,518,386",1,0,1,0,1,0,-28.0968,NaN
Zambia,"338,378,808","287,497,830","185,153,148",1,0,1,0,1,0,2.9199,NaN
Zimbabwe,"184,794,038",NaN,"156,358,791",1,0,1,0,1,0,0.4743,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
World,"9,374,355,807","8,433,930,581","7,306,696,878",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN